manifest {
    name            = 'takudzwa-coder/chipimputation'
    author          = 'H3ABioNet'
    homePage        = 'https://github.com/takudzwa-coder/chipimputation'
    description     = 'chipimputation'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.04.0'
    version         = '1.0'
}
